<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer_blackboard.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer_blackboard.description %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @offer_blackboard.totalPrice %>
</p>

<p>
  <strong>Image:</strong>
  <%= @offer_blackboard.image_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @offer_blackboard.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @offer_blackboard.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @offer_blackboard.zipcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer_blackboard.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @offer_blackboard.category_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @offer_blackboard.condition %>
</p>

<%= link_to 'Edit', edit_offer_blackboard_path(@offer_blackboard) %> |
<%= link_to 'Back', offer_blackboards_path %>
