<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mage.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @mage.path %>
</p>

<%= link_to 'Edit', edit_mage_path(@mage) %> |
<%= link_to 'Back', mages_path %>
