<p id="notice"><%= notice %></p>

<h1>Wohnungsangebote</h1>

 <!-- Container für Suche -->
<div class="panel panel-default">
  <div class="panel-body">
<form>
  <div class="form-group">
    <label for="Ort">Ort</label>
    <input type="text" class="form-control" id="Ort" placeholder="Ravensburg">
  </div>
  <div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="Room-Type" id="WG-Zimmer" autocomplete="off" checked>WG-Zimmer
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="Room-Type" id="Wohnung" autocomplete="off">Wohnung
    </label>
  </div>
    </div>
  <div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="Phase" id="A-Phase" autocomplete="off" checked>A-Phase
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="Phase" id="B-Phase" autocomplete="off">B-Phase
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="Phase" id="Alle" autocomplete="off">Alle
    </label>
  </div>
    </div>
  <button type="submit" class="btn btn-lg center-block">Suchen</button>
</form>
  </div>
</div>
<!-- Ende des Suchcontainers -->

<!-- Ausgabe der Tabelle mit Datensätzen -->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Totalprice</th>
      <th>Image</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Size</th>
      <th>Phase</th>
      <th>Type</th>

    </tr>
  </thead>

  <tbody>
    <% @offer_apartments.each do |offer_apartment| %>
      <tr>
        <td><%= link_to offer_apartment.title, offer_apartment %></td>
        <td><%= offer_apartment.totalPrice %></td>
        <td><%= offer_apartment.image_id %></td>
        <td><%= offer_apartment.street %></td>
        <td><%= offer_apartment.city %></td>
        <td><%= offer_apartment.zipcode %></td>
        <td><%= offer_apartment.size %></td>
        <td><%= offer_apartment.phase %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<!-- Ende der Tabellenausgabe -->
<br>

<%= link_to 'New Offer apartment', new_offer_apartment_path %>
