<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer_apartment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer_apartment.description %>
</p>

<p>
  <strong>Totalprice:</strong>
  <%= @offer_apartment.totalPrice %>
</p>

<p>
  <strong>Image:</strong>
  <%= @offer_apartment.image_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @offer_apartment.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @offer_apartment.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @offer_apartment.zipcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @offer_apartment.user_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @offer_apartment.size %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @offer_apartment.rent %>
</p>

<p>
  <strong>Additionalcost:</strong>
  <%= @offer_apartment.additionalCost %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @offer_apartment.phase %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @offer_apartment.deposit %>
</p>

<p>
  <strong>Type:</strong>
  <%= @offer_apartment.type %>
</p>

<p>
  <strong>Movein:</strong>
  <%= @offer_apartment.moveIn %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @offer_apartment.furnished %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @offer_apartment.internet %>
</p>

<p>
  <strong>Other:</strong>
  <%= @offer_apartment.other %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @offer_apartment.parking %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @offer_apartment.rooms %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @offer_apartment.smoking %>
</p>

<%= link_to 'Edit', edit_offer_apartment_path(@offer_apartment) %> |
<%= link_to 'Back', offer_apartments_path %>
