<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Path:</strong>
  <%= @image.path %>
</p>

<%= link_to 'Edit', edit_mage_path(@image) %> |
<%= link_to 'Back', mages_path %>
